<%= title "Fullscreen Slider with Ken Burns Effect / mightySlider &middot; Mighty Responsive Multipurpose Slider" %>
<% meta_description "LendIt Conference helps you learn, network, and connect with top internet finance leaders in the U.S., Europe and China. Join our rapidly growing team!" %>
<% meta_keywords "lendit, home" %>
<% body_class "pg-conferences" %>



    <style>
      html, body {
        padding: 0;
        margin: 0;
        background: #000;
        width: 100%;
        height: 100%;
      }
      .hover {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 4px 6px;
        border-radius: 5px;
        line-height: normal;
        background: rgba(255,255,255,.5);
        font-weight: 500;
        text-transform: uppercase;
        color: #000;
        border: 2px solid transparent;
        cursor: pointer;
        z-index: 100;

        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
      .hover:hover {
        background: rgba(255,255,255,.0);
        color: #FFF;
        border-color: #FFF;
      }

      /* Slider Styles */
      #kenburns {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      #kenburns .frame {
        width: 100%;
        height: 100%;
      }
      #kenburns .frame .slide_element {
        height: 100%;
      }
      #kenburns .frame .slide_element > div {
        float: left;
        height: 100%;
      }

      #sliderContent {
        background-image: -o-linear-gradient(top,rgba(2,6,10,0) 0,rgba(2,6,10,.65) 50%,rgba(2,6,10,.95) 100%);
        background-image: -moz-linear-gradient(top,rgba(2,6,10,0) 0,rgba(2,6,10,.65) 50%,rgba(2,6,10,.95) 100%);
        background-image: -webkit-linear-gradient(top,rgba(2,6,10,0) 0,rgba(2,6,10,.65) 50%,rgba(2,6,10,.95) 100%);
        background-image: -ms-linear-gradient(top,rgba(2,6,10,0) 0,rgba(2,6,10,.65) 50%,rgba(2,6,10,.95) 100%);
        background-image: linear-gradient(top,rgba(2,6,10,0) 0,rgba(2,6,10,.65) 50%,rgba(2,6,10,.95) 100%);
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 20px;
      }
      #sliderContentWrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      #sliderContentItems {
        width: 100%;
        height: 300px;
        overflow: hidden;
      }
      .sliderContentItem {
        position: absolute;
        left: 0;
        top: 50px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 50px 20px 2em 50px;
        opacity: 0;
        z-index: 0;
          -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
        -webkit-transition: opacity 0ms;
        transition: opacity 0ms;
      }
      .sliderContentItem.selected {
        z-index: 1;
        opacity: 1;
          -webkit-transition: opacity 400ms cubic-bezier(0.455,.03,.515,.955) 200ms;
          transition: opacity 400ms cubic-bezier(0.455,.03,.515,.955) 200ms;
      }
      .sliderContentTitle {
        position: relative;
        color: #fff;
        font-family: 'Droid Serif', georgia, serif;
        font-size: 48px;
        line-height: 1;
        text-decoration: none;
        text-transform: none;
      }
      .sliderContentDescription {
        width: 100%;
        max-width: 720px;
        margin-top: 1em;
        color: rgba(255,255,255,.7);
        font-weight: 300;
        font-size: 1em;
        line-height: 1.4em;
      }
      #sliderPages {
        position: absolute;
        left: 50px;
        top: 50px;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 2;
      }
      #sliderPages li {
        -webkit-transition: opacity 200ms;
        transition: opacity 200ms;
        position: relative;
        float: left;
        width: 46px;
        height: 45px;
        background: 0 0;
        opacity: .4;
        cursor: pointer;
        text-indent: -99999px;
      }
      #sliderPages li:hover {
        opacity: .75;
      }
      #sliderPages li:after {
        position: absolute;
        left: 0;
        top: 20px;
        content: '';
        width: 40px;
        height: 5px;
        background: #fff;
      }
      #sliderPages li.active {
        opacity: 1;
      }
      @media (max-height: 1200px) {
        .sliderContentItem {
          padding-bottom: 6em;
        }
      }
      @media only screen and (max-width: 640px) {
        .sliderContentTitle {
          font-size: 22px;
        }
        .sliderContentDescription {
          font-size: 14px;
        }
        #sliderContentItems {
          height: 250px;
        }
      }
    </style>

<div>this is the landing page yooooo</div>


<div id="kenburns" class="mightyslider_modern_skin"> <!-- PARENT -->
  <div class="frame"> <!-- FRAME -->
    <div class="slide_element"> <!-- SLIDEELEMENT -->
      <div class="slide mSKenburnsIn slow" data-mightyslider="cover: 'https://lendit.smugmug.com/LendIt-USA-2015/Day-1/Track-1/i-qCN7xsP/0/X3/LendIt_2015_NY-7668-X3.jpg', title: 'Lorem ipsum dolor sit amet', description: 'In laoreet tortor et pellentesque iaculis. Maecenas non pulvinar ligula. Duis sed pharetra ante, sed congue nisl. Praesent sed ligula.'"></div> <!-- SLIDE -->
      <div class="slide mSKenburnsOut slow" data-mightyslider="cover: 'https://lendit.smugmug.com/LendIt-USA-2015/Day-1/Track-1/i-KbQ62qf/0/X3/LendIt_2015_NY-9472-X3.jpg', title: 'Video also supported', description: 'You can use videos as background and have the ken burns effect without any worries.'"></div> <!-- SLIDE -->
      <div class="slide mSKenburnsIn" data-mightyslider="cover: 'https://lendit.smugmug.com/LendIt-USA-2015/Day-1/Expo/i-PNmCntN/0/X3/LendIt_2015_NY-06983-X3.jpg', title: 'Nullam in lorem commodo, tincidunt', description: 'Fusce et sem vel ligula tempor aliquet. Pellentesque purus velit, tempus vitae urna eu, dictum tristique odio. Praesent vel felis.'"></div> <!-- SLIDE -->
      <div class="slide mSKenburnsOut" data-mightyslider="cover: 'https://lendit.smugmug.com/LendIt-USA-2015/Day-1/Expo/i-xZxBK5r/0/X3/LendIt_2015_NY-07660-X3.jpg', title: 'In tristique, ipsum ac fermentum', description: 'Nam porttitor mollis vehicula. Quisque commodo ante sed diam malesuada viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec.'"></div> <!-- SLIDE -->
      <div class="slide mSKenburnsIn" data-mightyslider="cover: 'https://lendit.smugmug.com/LendIt-USA-2015/Day-1/Expo/i-4mSFqvH/0/X3/LendIt_2015_NY-8360-X3.jpg', title: 'Nam fermentum velit a viverra', description: 'Sed sed nibh sed nunc semper iaculis quis euismod felis. Morbi fringilla eget diam vel luctus. Nullam vitae elit arcu.'"></div> <!-- SLIDE -->
    </div> <!-- /SLIDEELEMENT -->
  </div> <!-- /FRAME -->

  <div id="sliderContent">
    <div id="sliderContentWrapper">
      <div id="sliderContentItems"></div>
    </div>

    <ul id="sliderPages"></ul>
  </div>

  <a class="hover icon-expand icon-lg" id="fullscreen"></a>
  </div> <!-- /PARENT -->